* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Bebas Neue', cursive;
}

html{
    animation-delay: 0.2;
}



body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #f8f9fa;
}

/* wave animate */

.wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;      
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;       
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) } 
    100% { transform: rotate( 0.0deg) }
  }
  

/* SIDE DISPLAY SECTION */

.left__side{
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: #000000;
}

.social__left {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social__left a {
    color: #000000;
    font-size: 28px;
}

.social__left a:hover {
    color: #007BFF;
}

.social__left li:hover{
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    transform: translateY(-5px);
}

.social__left li:last-of-type::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #000000;
    margin-top: 20px;
}

.right__side {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: #000000;
}

.email__side {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
}

.email__side a {
    margin: 20px auto;
    padding: 10px;
    font-family: 'Fira Code', monospace;
    font-size: 10px;
    letter-spacing: 0.1em;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: #000000;
}
.email__side a:hover {
    color: #007BFF;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    transform: translateY(-3px);
    text-decoration: none;
}

.email__side::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #000000;
}

/* END OF SIDE DISPLAY */

/* HERO SECTION */

.navbar-brand{
    font-size: 42px;
    padding-left: 20px;
}

.navbar-nav .nav-link {
    padding: 10px !important;
    margin-right: 5px;
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    color: #000000 !important;
}

.navbar-nav .nav-link span{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    color: #007BFF;
    padding: 0 5px;
}

.navbar-collapse {
    text-align: center;
}

.resume__button {
    color: #000000;
    background-color: transparent;
    border: 1px solid #007BFF;
    border-radius: 5px;
    padding: 0.75rem 1rem;
    font-family: 'Fira Code', monospace;
    line-height: 1;
    text-decoration: none !important;
    cursor: pointer;
    margin-left: 15px;
    font-size: 16px;
}
.resume__button:hover {
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
}




.heroIntro {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    font-weight: 300;
    font-size: clamp(40px, 6vw, 60px);
    padding: 0 100px;
}

.hello__intro {
    font-size: 30px;
    transition-delay: 100ms;
}

.name__intro {
    padding-top: 100px;
    transition-delay: 200ms;
}

.special__intro {
    width: 70%;
}

.special__intro {
    font-size: 20px;
    font-weight: 300;
}

.getintouch__button {
    border: 1px solid #000000;
    font-family: 'Fira Code', monospace;
    padding: 10px;
    margin-top: 50px;
}

.getintouch__button:focus {
    box-shadow: none;
}

.getintouch__button:hover {
    background-color: #000000;
    color: #ffffff;
}

a.contact__hello {
    text-decoration: none;
}


/* END OF HERO SECTION */

/* ABOUT ME SECTION */

.aboutme {
    width: 60%;
    margin: 0 auto;
}

.aboutme hr {
    border: 1px solid #d2d2d7;
    width: 20%;
}

.aboutme__intro {
    text-align: justify;
    font-size: 18px;
    margin: 50px;
}

.aboutme h4 {
    color: #007BFF;
}

.skills__flex{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 15px;
    position: relative;
    margin: 50px 0;
    text-align: center;
    height: 100%;
}


.about__cont ul {
    font-size: 18px;
}
.about__cont ul:last-of-type {
    margin-bottom: 150px;
}

.about__cont li{ 
    list-style-type: none;
    font-size: 16px;
    font-family: 'Fira Code', monospace;
}


/* END OF ABOUT ME */

/* BUILD */


.build__intro {
    color: #007BFF;
    text-align: center;
}

.build hr {
    border: 1px solid #d2d2d7;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.build__grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
}

.style__grid:not(:last-of-type) {
    margin-bottom: 100px;
}

.style__grid:nth-of-type(2n+1) .feature__one{
    grid-column: 7 / -1;
    text-align: right;
}

.build__grid .feature__one{
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
}

.style__grid img.build__image {
    opacity: 0.10;
}

.style__grid img.build__image:hover {
    opacity: 1;
}
.feature__box {
    font-size: 18px;
    padding: 30px;
    text-align: justify;
    background-color: #e4e4e4;
    box-shadow: 0 5px 20px 0 #aaaaaa;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.style__grid:nth-of-type(2n+1) .build__imageCont {
    grid-column: 1 / 8;
}

.build__grid .build__imageCont {
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;

}

.style__grid:nth-of-type(2n+1) .feature__onePar {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.build__grid .feature__onePar{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0 10px;
    list-style: none;
    font-family: 'Fira Code', monospace;
}

.style__grid:nth-of-type(2n+1) .feature__one li {
    margin: 0px 0px 5px 30px;
}

.style__grid .feature__one li {
    margin: 0px 30px 5px 0;
}

.style__grid:nth-of-type(2n+1) .project__links {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: -10px;
}

.build__grid .project__links {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    margin-left: -10px;
}

.style__grid .project__links a {
    padding: 10px;
    font-size: 24px;
    color: #000000;
}

.style__grid .project__links a:hover {
    color: #007BFF;
}

#image__box3 {
    width: 100%;
    height: 375px;
    object-fit: cover;
}


/* END OF BUILD */

/* SECTION FOR OTHER PROJECT */

section.other__project {
    margin-top: 100px;
}

.noteworthy__intro {
    text-align: left;
    color: #007BFF;
}

.other__project hr {
    border: 1px solid #d2d2d7;
    width: 30%;
}

.project__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    position: relative;
    margin-top: 50px;
}

.grid__style {
    transition-delay: 0ms;
    visibility: visible;
    opacity: 1;
    margin-bottom: 20px;
}

.project__content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    padding: 2rem 1.75rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    box-shadow: 0 5px 20px 0 #363434;
    border-radius: 20px;
}

.project__content:hover{
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    transform: translateY(-5px);
}

.project__top {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.folder__image i {
    font-size: 40px;
    color: #007BFF;
}

.project__link i{
    color: #000000;
    font-size: 30px;
}

.project__link i:hover{
    color: #007BFF;
    
}


.project__intro {
    font-size: 22px;
    margin: 20px 0;
}

.project__description {
    font-size: 18px;
}

.project__tools li{
    list-style-type: none;
    display: inline;
    font-family: 'Fira Code', monospace;
    margin-right: 10px;
    font-size: 14px;
}

/* END OF OTHER PROJECT */

/* SECTION FOR CONTACT ME */

section.contact__me {
    margin-top: 100px;
}

.contact__intro {
    text-align: center;
    color: #007BFF; 
}

.contact__me hr {
    border: 1px solid #d2d2d7;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.contact__GIT {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.contact__opportunity {
    font-size: 18px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contact__hello {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: clamp(14px, 2vw, 20px);
    font-family: 'Fira Code', monospace;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 150px;
    text-align: center;
    color: #000000;
}

.contact__hello:focus {
    box-shadow: none;
}

.contact__hello:hover {
    background-color: #000000;
    color: #ffffff;
}

.footer__copy{
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    text-align: center;
}
/* END OF CONTACT ME */

/* Footer Section */

.footer__copy {
    margin: 50px;
}

.social__media a{
    font-size: 28px;
    margin: 10px;
    color: #000000;
}    

.social__media a:hover {
    color: #007BFF;
}

.social__media li {
    display: none;
}


/* END of Footer section */

/* FOR MEDIA QUERIES */

/* 1400px */

@media (max-width: 1400px){
    .aboutme__skillscont {
        margin: 0;
        padding: 35px;
    }
    .aboutme__skillscont:first-of-type {
        margin-left: 20px;
    }
}

/* 1200px */

@media (max-width: 1280px){
    .skills__flex{
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
}



/* 1080 */

@media (max-width: 1080px){
    .style__grid:nth-of-type(2n+1) .feature__one {
        grid-column: 5 / -1;
    }
    .style__grid .feature__one {
        grid-column: 1 / 9;
    }
    }


/* 994 */

@media (max-width: 994px){
    .side__display{
        display: none;
    }
    .social__media li {
        display: inline-block;
    }
    .heroIntro{
        padding: 80px 0;
    }
    .aboutme {
        width: 100%;
    }
    .skills__flex{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .contact__opportunity {
        width: 100%;
    }
    .navbar-brand{
        display: none;
    }
    .navbar-collapse span {
        display: block;
        margin-bottom: 5px;
    }
    
    .navbar-collapse .nav-link{
        padding: 0;
        padding-bottom: 20px;
    }
    .resume__cont {
        margin-top: 50px;
    }
    .resume__button {
        color: #000000;
        background-color: transparent;
        border: 1px solid #007BFF;
        border-radius: 5px;
        font-size: 16px;
        font-family: 'Fira Code', monospace;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        padding: 15px 50px;
        margin: 0;
    }
    .style__grid img.build__image {
        opacity: 0.50;
    }
}





/* 768 */
    @media (max-width: 768px){
    .style__grid:not(:last-of-type) {
        margin-bottom: 70px;
    }
    .style__grid:nth-of-type(2n+1) .feature__one {
        grid-column: 1 / -1;
        padding: 20px 40px 30px;
    }
    .style__grid .feature__one {
        grid-column: 1 / -1;
        padding: 20px 40px 30px;
        z-index: 5;
    }
    .style__grid .feature__box {
        padding: 20px 0px;
        background-color: transparent;
        box-shadow: none;
    }
    .style__grid .feature__onePar{
        margin: 10px 0px;
    }
    .style__grid:nth-of-type(2n+1) .feature__onePar li {
        margin: 0px 0px 5px 10px;
    }
    .style__grid:nth-of-type(2n+1) .build__imageCont {
        grid-column: 1 / -1;
    }
    .style__grid .build__imageCont {
        grid-column: 1 / -1;
        height: 100%;
        opacity: 0.10;
        
    }
    .aboutme__intro{
        margin: 50px 0;
    }
    .skills__flex{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
    .feature__onePar {
        color: #007BFF;
    }
    .contact__opportunity {
        width: 100%;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    .skills__flex{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}




/* 480 */
@media (max-width: 480px){
    .heroIntro {
        padding: 0 20px;
    }
    .name__intro {
        padding-top: 0;
        font-size: 20px;
    }
    .name__intro {
        font-size: 32px;
    }
    .special__intro {
        font-size: 20px;
        width: 100%;
    }
    .skills__flex{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}
}